{% extends "layout.html" %}
{% block content %}
    <div class="card mb-3">
        <div class="card-body">
            <h1 class="card-title">CHEMISTRY</h1>
            <a href="/unitchem" class="stretched-link"></a>
        </div>
    </div>
     <div class="card mb-3">
        <div class="card-body">
            <h1 class="card-title">PHYSICS</h1>
            <a href="/unitphysics" class="stretched-link"></a>
        </div>
    </div>
     <div class="card mb-3">
        <div class="card-body">
            <h1 class="card-title">MATHEMATICS</h1>
            <a href="/unitmath" class="stretched-link"></a>
        </div>
    </div>
     <div class="card mb-3">
        <div class="card-body">
            <h1 class="card-title">BIOLOGY</h1>
            <a href="/unitbio" class="stretched-link"></a>
        </div>
    </div>

{% endblock content %}
