{% extends "layout.html" %}
{% block content %}
    <div class="card mb-3">
        <div class="card-body">
            <h1 class="card-title">Notes</h1>
            <a href="/noteschem" class="stretched-link"></a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <h1 class="card-title">Assessment</h1>
            <a href="/assessment" class="stretched-link"></a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <h1 class="card-title">Practice</h1>
            <a href="/practice" class="stretched-link"></a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <h1 class="card-title">Free Practice</h1>
            <a href="/quiz" class="stretched-link"></a>
        </div>
    </div>
{% endblock content %}
