{% extends "layout.html" %}
{% block content %}
    <div class="card mb-3">
        <div class="card-body">
            <h1 class="card-title">Experimental Chemistry</h1>
            <a href="/optionschem" class="stretched-link"></a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <h1 class="card-title">Atomic Structure and Stoichiometry</h1>
            <a href="/optionschem" class="stretched-link"></a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <h1 class="card-title">Chemistry of Reactions</h1>
            <a href="/optionschem" class="stretched-link"></a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <h1 class="card-title">Periodicity</h1>
            <a href="/optionschem" class="stretched-link"></a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <h1 class="card-title">Atmosphere</h1>
            <a href="/optionschem" class="stretched-link"></a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <h1 class="card-title">Organic Chemistry</h1>
            <a href="/optionschem" class="stretched-link"></a>
        </div>
    </div>
{% endblock content %}
