{% extends "layout.html" %}
{% block content %}
    <div class="card mb-3">
        <div class="card-body">
            <h1 class="card-title">Equations and Inequalities</h1>
            <a href="/optionsphysics" class="stretched-link"></a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <h1 class="card-title">Indices and Surds</h1>
            <a href="/optionsphysics" class="stretched-link"></a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <h1 class="card-title">Polynomials and Partial Functions</h1>
            <a href="/optionsphysics" class="stretched-link"></a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <h1 class="card-title">Binomial Expansions</h1>
            <a href="/optionsphysics" class="stretched-link"></a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <h1 class="card-title">Power, Exponential, Logarithmic and Modulus Functions</h1>
            <a href="/optionsphysics" class="stretched-link"></a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <h1 class="card-title">Trigonometric Functions, Identities and Equations</h1>
            <a href="/optionsphysics" class="stretched-link"></a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <h1 class="card-title">Coordinate Geometry in Two Dimensions</h1>
            <a href="/optionsphysics" class="stretched-link"></a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <h1 class="card-title">Proofs in Plane Geometry</h1>
            <a href="/optionsphysics" class="stretched-link"></a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <h1 class="card-title">Differentiation and Integration</h1>
            <a href="/optionsphysics" class="stretched-link"></a>
        </div>
    </div>
{% endblock content %}
