{% extends "layout.html" %}
{% block content %}
    <div class="card mb-3">
        <div class="card-body">
            <h1 class="card-title">Principles of Biology</h1>
            <a href="/optionsbio" class="stretched-link"></a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <h1 class="card-title">Maintenance and Regulation of Life Processes</h1>
            <a href="/optionsbio" class="stretched-link"></a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <h1 class="card-title">Continuity of Life</h1>
            <a href="/optionsbio" class="stretched-link"></a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <h1 class="card-title">Man and His Environment</h1>
            <a href="/optionsbio" class="stretched-link"></a>
        </div>
    </div>
{% endblock content %}
